<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<h1><%= title %></h1>
<div class="row">
    <div class="col-lg-8">
        <div id="returnAllData">
            <table class="table table-striped">
                <thead>
                <tr>
                    <td>ID</td>
                    <td>Full Name</td>
                    <td>Email</td>
                    <td>Item</td>
                    <td>Quantity</td>
                    <td>Total Price</td>
                </tr>
                </thead>
                <tbody>
                <% for(var i = 0; i < data.length; i++) { %>
                    <tr>
                        <td><%= data[i].transaction_id %></td>
                        <td><%= data[i].transaction_first_name + " " + data[i].transaction_last_name %></td>
                        <td><%= data[i].transaction_email %></td>
                        <td><%= data[i].transaction_item %></td>
                        <td><%= data[i].transaction_quantity %></td>
                        <td><%= data[i].transaction_total_price %></td>
                    </tr>
                <% } %>
                </tbody>
                <tfoot>
                <tr>
                    <td>ID</td>
                    <td>Full Name</td>
                    <td>Email</td>
                    <td>Item</td>
                    <td>Quantity</td>
                    <td>Total Price</td>
                </tr>
                </tfoot>
            </table>
            <button class="btn btn-warning" onclick="pivot()">Pivot Me!</button>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="row">
            <div class="row col-lg-12">
                <h1>Add Transaction</h1>
            </div>
        </div>
        <div class="row">
            <div class="row col-lg-12">
                <form  class="col-lg-12">
                    <div class="form-group">
                        <label for="exampleInputEmail1">First Name</label>
                        <input type="text" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Last Name</label>
                        <input type="text" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="text" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Item</label>
                        <input type="text" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Quantity</label>
                        <input type="text" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Total</label>
                        <input readonly type="text" class="form-control"/>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>


<script type='text/javascript'>
    var rows = <%- JSON.stringify(data) %>
    var prep_items = [];
    $.each(rows, function (key, val) {
        prep_items.push(val.transaction_item)
    })
    prep_items.sort()

    function pivot() {
        var prep_coulomn = '';
        var prep_coulomn_array = [];
        $.each(prep_items, function (key, val) {
            if (val !== prep_items[key - 1]) {
                prep_coulomn += '<td>' + val + '</td>'
                prep_coulomn_array.push(val)
            }
        })

        var resultAll = '';

        for (var i = 0; i < rows.length; i++) {
            var hasil = '';
            for (var k = 0; k < prep_coulomn_array.length; k++) {
                if (rows[i].transaction_item === prep_coulomn_array[k]) {

                    hasil += '<td>' + rows[i].transaction_quantity + '</td>'
                } else {
                    hasil += '<td>0</td>'
                }
            }
            resultAll += '<tr>' +
                '<td>' + rows[i].transaction_first_name + " " + rows[i].transaction_last_name + '</td>' +
                '<td>' + rows[i].transaction_email + '</td>' +
                hasil +
                '</tr>'
            hasil = '';
        }

        $("#returnAllData").html('');
        $("#returnAllData").append('' +
            '<table class="table table-striped" >' +
            '<thead>' +
            '<td>Full Name</td>' +
            '<td>Email</td>' +
            prep_coulomn +
            '</thead>' +
            '<tbody >' + resultAll + '</tbody>' +
            '<tfoot>' +
            '<td>Full Name</td>' +
            '<td>Email</td>' +
            prep_coulomn +
            '</tfoot>' +
            '</table>');
    }

</script>