<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>
<body>
<h1><%= title %></h1>
<div class="row">
    <div class="col-lg-8">
        <div id="returnAllData">
            <table class="table table-striped">
                <thead>
                <tr>
                    <td>ID</td>
                    <td>Full Name</td>
                    <td>Email</td>
                    <td>Item</td>
                    <td>Quantity</td>
                    <td>Total Price</td>
                </tr>
                </thead>
                <tbody>
                <% for(var i = 0; i < data.length; i++) { %>
                    <tr>
                        <td><%= data[i].transaction_id %></td>
                        <td><%= data[i].transaction_first_name + " " + data[i].transaction_last_name %></td>
                        <td><%= data[i].transaction_email %></td>
                        <td><%= data[i].transaction_item %></td>
                        <td><%= data[i].transaction_quantity %></td>
                        <td><%= data[i].transaction_total_price %></td>
                    </tr>
                <% } %>
                </tbody>
                <tfoot>
                <tr>
                    <td>ID</td>
                    <td>Full Name</td>
                    <td>Email</td>
                    <td>Item</td>
                    <td>Quantity</td>
                    <td>Total Price</td>
                </tr>
                </tfoot>
            </table>
            <button class="btn btn-warning" onclick="pivot()">Pivot Me!</button>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="row">
            <div class="row col-lg-12">
                <h1>Add Transaction</h1>
            </div>
            <div class="row col-lg-12">
                <button onclick="ganerateForm()" class="btn btn-warning" style="float: right">Tired ? Click Me!</button>
                <button onclick="resetForm()" class="btn btn-danger" style="float: right">Reset Me!</button>
            </div>
        </div>
        <div class="row">
            <div class="row col-lg-12">
                <form class="col-lg-12" id="submitData">
                    <div class="form-group">
                        <label for="exampleInputEmail1">First Name</label>
                        <input name="form_first_name" type="text" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Last Name</label>
                        <input name="form_last_name" type="text" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input name="form_email" type="text" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Item</label>
                        <select name="form_item" class="form-control">
                            <option selected disabled>Please Choose an Item</option>
                            <option value="Item0">Item0</option>
                            <option value="Item1">Item1</option>
                            <option value="Item2">Item2</option>
                            <option value="Item3">Item3</option>
                            <option value="Item4">Item4</option>
                            <option value="Item5">Item5</option>
                            <option value="Item6">Item6</option>
                            <option value="Item7">Item7</option>
                            <option value="Item8">Item8</option>
                            <option value="Item9">Item9</option>
                        </select>
                        <!--                        <input name="form_item" type="text" class="form-control"/>-->
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Quantity</label>
                        <input onchange="changeQuantity()" name="form_quantity" type="number" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Total</label>
                        <input name="form_total" readonly type="text" class="form-control"/>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>


<script type='text/javascript'>
    $(document).ready(function () {
        submitData()
    })

    function submitData() {
        $("#submitData").submit(function (e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "/insert",
                data: {
                    post_first_name: $("input[name=form_first_name]").val(),
                    post_last_name: $("input[name=form_last_name]").val(),
                    post_email: $("input[name=form_email]").val(),
                    post_item: $("select[name=form_item]").val(),
                    post_quantity: $("input[name=form_quantity]").val(),
                    post_total: $("input[name=form_total]").val()
                },
                success: function (data) {
                    swal("Success", "Transaksi Berhasil Ditambahan", "success").then((val)=> {
                        $(location).attr('href', "/");

                    });
                    },
                error: function (data) {
                    var errs = '';
                    $.each(data.responseJSON.errorMessage, function (key, val) {
                        errs += val + '\n'
                    })
                    swal("Error", errs, "error");
                }
            })
        })
    }

    function changeQuantity() {
        $("input[name=form_total]").val($("input[name=form_quantity]").val() * 10000)
    }

    function pivot() {
        $.ajax({
            type: 'GET',
            url: '/pivot',
            success: function (data) {
                var createTdHead = '';
                var createTdFoot = '';
                var createTdBody = '';

                createTdHead += "<tr>"
                createTdFoot += "<tr>"
                $.each(data.data.header, function (key, val) {
                    createTdHead += '<td>' + val + '</td>'
                    createTdFoot += '<td>' + val + '</td>'
                })
                createTdHead += "</tr>"
                createTdFoot += "</tr>"

                for (var i = 0; i < data.data.result.length; i++) {
                    createTdBody += '<tr>'
                    createTdBody += '<td>' + data.data.result[i].res_email + '</td>'
                    createTdBody += '<td>' + data.data.result[i].res_full_name + '</td>'
                    for (var k = 0; k < data.data.result[i].data.length; k++) {
                        createTdBody += '<td>' + data.data.result[i].data[k] + '</td>'
                    }
                    createTdBody += '</tr>'
                }

                $("#returnAllData").html('')
                $("#returnAllData").append('<table class="table table-striped" >' +
                    createTdHead +
                    createTdBody +
                    createTdFoot +
                    '</table>')

            }, error: function (data) {
                swal("Error", data, "error");
            }
        })
    }

    function resetForm() {
        $("input[name=form_first_name]").val("");
        $("input[name=form_last_name]").val("");
        $("input[name=form_email]").val("");
        $("select[name=form_item]").val("");
        $("input[name=form_quantity]").val("");
        $("input[name=form_total]").val("");
    }

    function ganerateForm() {
        $.ajax({
            type: 'GET',
            url: '/generateME',
            success: function (data) {
                $("input[name=form_first_name]").val(data.data.res_first_name);
                $("input[name=form_last_name]").val(data.data.res_last_name);
                $("input[name=form_email]").val(data.data.res_email);
                $("select[name=form_item]").val(data.data.res_item);
                $("input[name=form_quantity]").val(data.data.res_quantity);
                $("input[name=form_total]").val(data.data.res_total_price);
            }, error: function (data) {
                swal("Error", data, "error");
            }
        })
    }
</script>